openapi: 3.0.1
info:
  title: SponsoredProducts S2S API
  version: 1.0.0

servers:
  - url: https://portals.smartplacement.io
    variables: {}
    
security:
  - bearerAuth: []        

paths:
  /s2s/portals/{portalId}/advertisers/{advertiserId}:registerOrdServiceAgreement:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
        - name: advertiserId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterOrdServiceAgreementBody'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
  /s2s/portals/{portalId}/advertisers:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostAdvertisersBody
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Advertiser
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /s2s/portals/{portalId}/incomeTransactions:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostIncomeTransactionsBody
          text/json:
            schema:
              $ref: >-
                #/components/schemas/PostIncomeTransactionsBody
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/PostIncomeTransactionsBody
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
    get:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IncomeTransactions
        '403':
          description: Forbidden
          
  /s2s/portals/{portalId}/invoices:
    get:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
        - name: finalizedAfter
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoices'
        '403':
          description: Forbidden
          
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT

  schemas:
    Advertiser:
      required:
        - id
      type: object
      properties:
        id:
          type: string
      additionalProperties: false
    Contract:
      required:
        - number
        - periodStartDay
        - signedAt
        - timezone
      type: object
      properties:
        number:
          maxLength: 50
          minLength: 1
          type: string
        signedAt:
          type: string
        timezone:
          type: string
        periodStartDay:
          type: integer
          format: int64
      additionalProperties: false
    IncomeTransaction:
      required:
        - advertiserId
        - amount
        - details
        - timestamp
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
        advertiserId:
          type: string
        amount:
          type: number
          format: double
        details:
          type: string
        timestamp:
          type: string
          format: date-time
      additionalProperties: false
    IncomeTransactions:
      required:
        - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IncomeTransaction'
        nextCursor:
          type: string
          nullable: true
      additionalProperties: false
    Invoice:
      required:
        - advertiserOrganizationName
        - advertiserOrganizationTin
        - contractNumber
        - contractSignedAt
        - details
        - finalizedAt
        - number
        - period
        - serviceType
        - sum
      type: object
      properties:
        number:
          type: integer
          format: int64
        finalizedAt:
          type: string
          format: date-time
        contractNumber:
          type: string
        contractSignedAt:
          type: string
        advertiserOrganizationName:
          type: string
        advertiserOrganizationTin:
          type: string
        period:
          $ref: '#/components/schemas/InvoicePeriod'
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        sum:
          type: number
          format: double
        details:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDetails'
      additionalProperties: false
    InvoicePeriod:
      required:
        - endAt
        - startAt
      type: object
      properties:
        startAt:
          type: string
        endAt:
          type: string
      additionalProperties: false
    Invoices:
      required:
        - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        nextCursor:
          type: string
          nullable: true
      additionalProperties: false
    Organization:
      required:
        - name
        - tin
      type: object
      properties:
        name:
          type: string
        tin:
          type: string
      additionalProperties: false
    Pair:
      required:
        - key
        - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      additionalProperties: false
    PostAdvertisersBody:
      required:
        - contract
        - isOwnBrand
        - name
        - organization
        - ownerId
      type: object
      properties:
        ownerId:
          type: string
        name:
          type: string
        isOwnBrand:
          type: boolean
        organization:
          $ref: '#/components/schemas/Organization'
        contract:
          $ref: '#/components/schemas/Contract'
        minBalance:
          type: number
      additionalProperties: false
    PostIncomeTransactionsBody:
      required:
        - advertiserId
        - amount
        - details
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
        advertiserId:
          type: string
        amount:
          type: number
          format: double
        details:
          type: string
      additionalProperties: false
    ServiceDetails:
      required:
        - count
        - data
        - firstAt
        - lastAt
        - placement
        - purpose
        - sum
      type: object
      properties:
        count:
          type: integer
          format: int64
        sum:
          type: number
          format: double
        firstAt:
          type: string
          format: date-time
        lastAt:
          type: string
          format: date-time
        purpose:
          type: string
        placement:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Pair'
      additionalProperties: false
    ServiceType:
      enum:
        - Advertising
        - Other
      type: string    
    PostRegisterOrdServiceAgreementBody:
      required:
        - contractNumber
        - contractSignedAt
        - isOwnBrand
        - legalName
        - ogrn
        - tin
      type: object
      properties:
        isOwnBrand:
          type: boolean
        legalName:
          maxLength: 200
          minLength: 1
          type: string
        tin:
          maxLength: 10
          minLength: 10
          type: string
        ogrn:
          maxLength: 13
          minLength: 13
          type: string
        contractNumber:
          maxLength: 50
          minLength: 1
          type: string
        contractSignedAt:
          maxLength: 10
          minLength: 10
          type: string
      additionalProperties: false
