openapi: 3.0.1
info:
  title: S2S API
  version: v1
paths:
  /s2s/portals/{portalId}/advertisers/{advertiserId}:registerOrdServiceAgreement:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
        - name: advertiserId
          in: path
          required: true
          schema:
            type: string
        - name: x-UserId
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterOrdServiceAgreementBody'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
  /s2s/portals/{portalId}/advertisers:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostAdvertisersBody
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Advertiser
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /s2s/portals/{portalId}/incomeTransactions:
    post:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostIncomeTransactionsBody
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
    get:
      tags:
        - Api
      parameters:
        - name: portalId
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IncomeTransactions
        '403':
          description: Forbidden
components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
  schemas:
    Advertiser:
      required:
        - id
      type: object
      properties:
        id:
          type: string
      additionalProperties: false
    Contract:
      required:
        - number
        - periodStartDay
        - signedAt
        - timezone
      type: object
      properties:
        number:
          maxLength: 50
          minLength: 1
          type: string
        signedAt:
          type: string
        timezone:
          type: string
        periodStartDay:
          type: integer
          format: int64
      additionalProperties: false
    IncomeTransaction:
      required:
        - advertiserId
        - amount
        - details
        - timestamp
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
        advertiserId:
          type: string
        amount:
          type: number
          format: double
        details:
          type: string
        timestamp:
          type: string
          format: date-time
      additionalProperties: false
    IncomeTransactions:
      required:
        - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: >-
              #/components/schemas/IncomeTransaction
        nextCursor:
          type: string
          nullable: true
      additionalProperties: false
    Organization:
      required:
        - name
        - tin
      type: object
      properties:
        name:
          type: string
        tin:
          type: string
      additionalProperties: false
    PostAdvertisersBody:
      required:
        - contract
        - isOwnBrand
        - name
        - organization
        - ownerId
      type: object
      properties:
        ownerId:
          type: string
        name:
          type: string
        isOwnBrand:
          type: boolean
        organization:
          $ref: >-
            #/components/schemas/Organization
        contract:
          $ref: >-
            #/components/schemas/Contract
      additionalProperties: false
    PostIncomeTransactionsBody:
      required:
        - advertiserId
        - amount
        - details
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
        advertiserId:
          type: string
        amount:
          type: number
          format: double
        details:
          type: string
      additionalProperties: false
    PostRegisterOrdServiceAgreementBody:
      required:
        - contractNumber
        - contractSignedAt
        - isOwnBrand
        - legalName
        - ogrn
        - tin
      type: object
      properties:
        isOwnBrand:
          type: boolean
        legalName:
          maxLength: 200
          minLength: 1
          type: string
        tin:
          maxLength: 10
          minLength: 10
          type: string
        ogrn:
          maxLength: 13
          minLength: 13
          type: string
        contractNumber:
          maxLength: 50
          minLength: 1
          type: string
        contractSignedAt:
          maxLength: 10
          minLength: 10
          type: string
      additionalProperties: false
servers:
  - url: https://portals.smartplacement.io
    variables: {}
    
security:
  - bearerAuth: []        
